@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

h2{
  color: white;
}

.passg-container{
  background-color: #ffffff4b;
  margin-top: 10vh;
  padding: 5vh;
  border-radius: 1vh;
}

.button-event {
padding: 0.6rem;
border: none;
border-radius: 10px;
background: rgba(255, 255, 255, 0.2);
color: white;
font-weight: bold;
cursor: pointer;
transition: background 0.3s;
margin-bottom: 2vh;
}

.button-event-critical {
padding: 0.6rem;
border: none;
border-radius: 10px;
background: rgba(159, 21, 21, 0.2);
color: rgb(206, 34, 34);
font-weight: bold;
cursor: pointer;
transition: background 0.3s;
margin-bottom: 2vh;
margin-top: 2vh;
}

.button-event-critical:hover {
background: black;
color: red;
}

.deletion-warning {
  color: rgb(206, 34, 34);
  background: black;
  padding: 3%;
  border-radius: 10px;
}

button:hover {
background: rgba(255, 255, 255, 0.35);
}

.passg-options {
display: flex;
justify-content: space-between;
}

.passg-result {
  border: solid 1px rgba(255, 255, 255, 0.428);
  padding: 1vh;    /* or adjust as needed */
  margin-bottom: 1vh;
  height: auto;    /* ensures the div grows with content */
  word-break: break-all; /* optional, helps long passwords wrap */
}

.pwd{
  color: white;
}

.copied{
  background-color: #0000004f;
  padding: 1vh;
  border-radius: 10px;
}

.old-new-password{
    width: 100%;
    padding: 10px;
    background-color:  #ffffff4b;
    border: 1px solid #4b5563;
    border-radius: 6px;
    color: #eee;
    outline: none;
    transition: border-color 0.2s ease-in-out;
}

.old-new-password-label{
  font-size: large;
  color: #eee;
  font-weight: 600;
}

.customErrors {
  color: #cc0033;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
}

.customEvent {
  color: #00cc36;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
}

.Tfa {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}


.switch-tfa {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch-tfa input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider-round-tfa {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider-round-tfa:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider-round-tfa {
  background-color: #2196F3;
}

input:focus + .slider-round-tfa {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider-round-tfa:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded slider-round-tfas */
.slider-round-tfa.round {
  border-radius: 34px;
}

.slider-round-tfa.round:before {
  border-radius: 50%;
}

.qr-code {
  width: 200px;
  height: 200px;
  margin-top: 10px;
}
